.profile-ctn {
    margin-top: 50px;
    padding: 20px;
}

.bg-secondary-soft {
    background-color: rgba(208, 212, 217, 0.1) !important;
}

.rounded {
    border-radius: 5px !important;
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}


.file-upload .square {
    height: 180px;
    width: 180px;
    margin: auto;
    vertical-align: middle;
    border: 1px solid #e5dfe4;
    background-color: var(--color-white);
    border-radius: 5px;
}

.text-secondary {
    --bs-text-opacity: 1;
    color: rgba(208, 212, 217, 0.5) !important;
}


.btn-danger-soft {
    background-color: #dc3545 !important;
}

.red {
    background-color: #dc3545 !important;
    border: 1px solid #dc3545 !important;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.6;
    color: #29292e;
    background-color:  var(--color-white);
    background-clip: padding-box;
    border: 1px solid #e5dfe4;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.map-section {
    height: 650px;
    position: relative;
    margin-top: -7px;
}

.upload-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.remove-pic {
    margin-left: 20px;
    cursor: pointer;
}

.profile-pic img {
    width: 100%;
}

#customFile {
    display: none;
}

#image-upload {
    cursor: pointer;
}

#image-upload i {
    padding-top: 18px;
}