.add-user-form {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
}

.go-back {
    background-color: var(--color-secondary) !important;
    border: none !important;
}

.go-back:hover {
    background-color: #a16b3f !important;
}