.add-user-form {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
}

.go-back {
    background-color: var(--color-secondary) !important;
    border: none !important;
}

.go-back:hover {
    background-color: #a16b3f !important;
}

.pic-add-user {
    margin: 40px auto;
}

.pic-upload .square {
    height: 180px !important;
    width: 180px !important;
    margin: auto;
    vertical-align: middle;
    border: 1px solid #e5dfe4 !important;
    background-color: var(--color-white) !important;
    border-radius: 5px;
}

#select option:first {
    color: #999;
}