table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr {
    cursor: pointer;
}
  
table tr:nth-child(even) {
    background-color: var(--color-primary);
}
  
table tr:hover {
    background-color: #8ba59c;
}

.user-table {
    padding: 10px;
}

.table-btns {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

:is(#sub-columns, thead) {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: var(--color-primary);
    color:  var(--color-white);
}
  