:root {
    --color-primary: #188780;
    --color-secondary: #f78525;
    --color-white: #fff;
}

body {
    margin-top:20px;
    color: #9b9ca1;
}

h3 {
    color: var(--color-secondary);
}


.btn {
    background-color: var(--color-primary) !important;
    border-radius: 5px !important;
    color: var(--color-white);
    border: none !important;
    margin: 20px 10px;
    padding: 7px;
    cursor: pointer;
}

.btn:hover {
    background-color: #25aaa1 !important;
    color: var(--color-white);
}

.home {
    width: 90%;
    margin: 0 auto 50px;
}

.login-input {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.login-btn {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    color: var(--color-white);
    padding: 10px 20px;
}


.button-container {
    display: flex;
    justify-content: center;
}

:is(.login-form, .add-user-form, .user-table, .profile-ctn) {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-form {
    width: 40%;
    margin: 150px auto;
    background-color:  var(--color-white);
    padding: 2rem;
}

.list-container {
    display: flex;
}

.title {
    font-size: 25px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}

.add-btn-ctn {
    position: relative;
}

.add-btn {
    position: absolute;
    top: -20px;
    right: -10px;
}


.my-nav {
    margin: 0 auto !important;
}

.table-body {
    color: #333;
}

.users-number {
    background: var(--color-primary) !important;
}

.inner h4 {
    font-size: 35px;
    font-weight: 800;
}

.icon i {
    cursor: pointer;
}

.sign-out {
    cursor: pointer;
}