body {
    margin-top:20px;
    color: #9b9ca1;
}

.home {
    width: 90%;
    margin: 0 auto 50px;
}

.login-input {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.login-btn {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
}

.login-btn:hover {
    background: #6cf0c2;
}

.button-container {
    display: flex;
    justify-content: center;
}

.login-form {
    width: 40%;
    margin: 200px auto;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
    display: flex;
}

.title {
    font-size: 25px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}

.add-btn-ctn {
    position: relative;
}

.add-btn {
    position: absolute;
    top: -20px;
    right: -10px;
}